body {
    text-align: center;
    margin:0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
#flames{
    background-image: url("images/rink_background.jpg");
}
#index{
    background-image: url("images/Calgary_Skyline.jpg");
}
#stamps{
    background-image: url("images/mcmahon_stadium.jpg");
}
#necks{
    background-image: url("images/Roughnecks_bg.jpg");
}
header {
    background-color: rgba(255, 0, 0, 0.5);
    width: 99.85%;
    display: block;
    top: 0px;
    font-size: large;
    /*margin: 4px;*/
    padding: 2px;
    min-height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*border-radius: 7pt;*/
    /*justify-content:center;*/
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1px;
    margin-left: 12%;
    margin-right: 12%;
}
#top{
    justify-content:center;
}
.child img {
    height:15vw;
    max-width: 100%;
    margin-bottom:5%;
}
.small img{
    height:3vw;
    padding: 0px 10px 0px 10px;
}
.child {
    min-width: 30%;
    margin-top: 4%;
    background: rgba(232, 232, 232, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
table {
    border-collapse: collapse;
    margin: auto;
    text-align: left;
    word-break: break-word;
    width: 100%;
}
td, th {
    border-bottom: 1px solid #000000;
    padding:2px;
    padding-right:5px;
}
a:link, a:visited{
    text-decoration:#000000;
    color:#000000;
}
a:hover img{
    opacity: 1;
}
h1 a:hover{
    border: dashed 2px #ff0000;
}
a img{
    opacity:0.8;
}
li {
    margin-top:5px;
    border:groove;
    text-align:left;
}
li u{
    float:left;
}
#game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
#team{
    width:40%;
}